@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic);

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
@import url(http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css);
@import url(http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css);   


@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono);      
@import url(http://fonts.googleapis.com/css?family=Chewy);                    

/*!
 *  Simple - Minimal, responsive resume
 *  Copyright 2013 prettyspoon.com
 *  Author: Uvis Grinfelds
 */
/* Borders and Spacing */
body {
  display: none;
  font-family: Source Sans Pro, Open Sans, Helvetica, Arial, sans-serif;
  background-color: #1F1F1F;
  font-weight: 300;
}
.container {
  max-width: 900px;
  background-color: #fff;
  padding: 25px 50px;
  margin: 20px auto;
}
.row-fluid {
  border-bottom: 1px solid #dddddd;
}
.span9 {
  padding-top: 10px;
}
article {
  padding: 20px 0;
}
footer {
  text-align: right;
  padding-top: 10px;
}
ul {
  list-style: none;
  margin: 0px;
}

/* Links */
a {
  color: #000000;
  border-bottom: 1px solid #dddddd;
  -o-transition: color 0.5s ease-out, background 0.6s ease-in;
  -ms-transition: color 0.5s ease-out, background 0.6s ease-in;
  -moz-transition: color 0.5s ease-out, background 0.6s ease-in;
  -webkit-transition: color 0.5s ease-out, background 0.6s ease-in;
  /* ...and now override with proper CSS property */

  transition: color 0.5s ease-out, background 0.6s ease-in;
}
a:hover {
  color: #333333;
  background: #F9F9F9;
  text-decoration: none;
}
footer a {
  padding: 0 ;
}
/* Typography */
h1,
h2,
h3,
h4,
h5 {
  font-family: Open Sans, Source Sans Pro, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #000;
  line-height: 100%;
}
h1 {
  font-size: 74px;
  line-height: 50px;
  padding-top: 30px;
  font-weight: 700;
  font-family: 'Chewy', cursive;
  letter-spacing: 1px;
}
h2 {
  font-size: 21px;
}   

.title h2 {
padding-left:20px;
font-size:18px;
}

h3 {
  font-size: 20px ;  
  color:#383838;
}
h4 {
  font-size: 16px ;
}
h5 {
  font-size: 12px;
}
strong {
  font-weight: 400;
}
p {
  /*text-indent: 22px;*/
  padding-left: 22px;
  font-size: 16px;
  margin: 0px;
}
.welcome {
  font-size: 24px;
  text-indent: 0px;
  line-height: 30px;
}

/* Contact */

.social {
  padding: 30px 0px;
  font-size: 14px;
  line-height: 23px;
}
.socual li {
  list-style: none;
}
/* Images */
img {
  border: 1px solid #dddddd;
  margin: 15px;
  float: left;
}

li {
  padding-left: 22px;
}
/* Responsive */
@media (max-width: 800px) {
  body {
    display: block;
    padding: 0px;
  }
  .container {
    margin: 0px;
  }
}
@media (max-width: 600px) {
  .social {
    margin-top: 10px;
  }
  .social ul li {
    display: inline-block;
  }
  .social ul {
    margin-top: 21px;
  }
}
@media (max-width: 480px) {
  .container {
    padding: 15px ;
  }
}
@media (max-width: 320px) {
  .container {
    padding: 15px ;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 16px;
  }
  .social ul li {
    display: block;
  }
  .social ul {
    margin-top: 16px;
    padding: 0 34px;
  }
  article {
    padding: 10px 0;
  }
  .span9 {
    padding-top: 0px;
  }
} 



.code {
font-family: Consolas, "Liberation Mono", Courier, monospace;
font-size:9pt;
color:#333333;
padding:10px;
background-color: rgba(65,131,196,0.4)
border-radius: 0.4em;
-moz-border-radius: 0.4em;
-webkit-border-radius: 0.4em;

}
